.modal-form {
  display: flex;
  flex-direction: column;
  margin: 2em 5em;
}

.container-input {
  display: flex;
  justify-content: space-between;
  margin: 5px;

  @media (max-width: 500px) {
    flex-direction: column;
  }

  & input {
    display: flex;
 
    border: 1px solid #525252;
    border-radius: 5px;
    margin-left: 15px;
    padding: 3px;
    font-style: italic;
  }
}
.button-form-user {
  margin-top: 3em;

  & button {
    border: none;
    background-color: rgb(39, 130, 216);
    padding: 10px;
    border-radius: 8px;
    font-style: italic;
  }
}
