.modal-overlay {
//   width: 100vw;
//   height: 100vh;
height: 100%;
width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;

  // width: 10em;
  // height: 5em;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
