.container-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & .img-github {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    margin-top: 2em;
  }

  & .content-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #262d33;
    margin: 10px;
    width: 263px;
    height: 370px;

    & .user-information {
      color: #fff;
    }

    & .buttons {
      & button {
        color: #5d5d5d;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }
}
